

.custom-panel {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .08);
}

.panel-heading .row {
    line-height: 35px;
}

.panel-heading {
    font-weight: bold;
}

.panel-heading .col-btn a {
    float: right;
}

.panel-heading .btn-link{
    float: right;
}

.table {
    margin-bottom: 10px;
    word-break: break-all;
    table-layout: fixed;
}

.table th {
    text-align: center;
}

.table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.table thead tr {
    background-color: #f9f9f9;
}

.table .btn {
    margin: 0px 5px;
}

.table .btn-link {
    padding: 5px 0px;
}

.pagination {
    float: right;
    margin: 10px 0px;
}

.pagination > li > a {
    color: #2c3e50;
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
}

.pagination > li > a:hover {
    color: #ffffff;
    background-color: #18bc9c;
    border-color: transparent;
}

.btn-custom {
    padding: 10px 40px;
}

.panel-body > img {
    height: 220px;
}


.nav-tabs { border-bottom: 2px solid #DDD; }
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover { border-width: 0; }
.nav-tabs > li > a { border: none; color: #666; }
.nav-tabs > li.active > a, .nav-tabs > li > a:hover { border: none; color: #1296db !important; background: transparent; }
.nav-tabs > li > a::after { content: ""; background: #1296db; height: 2px; position: absolute; width: 100%; left: 0px; bottom: -1px; transition: all 250ms ease 0s; transform: scale(0); }
.nav-tabs > li.active > a::after, .nav-tabs > li:hover > a::after { transform: scale(1); }
.tab-nav > li > a::after { background: #21527d none repeat scroll 0% 0%; color: #fff; }

.tab-content{padding:20px}





