

.custom-panel {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .08);
    color: #ffffff;
    /*background-color: #2c3e50;*/

    /*!*多云*!*/
    /*background: linear-gradient(#2c3e50,#919b9f);*/
    /*!*晴天*!*/
    /*background: linear-gradient(#2869e9,#79bfff);*/
    /*!*下雨*!*/
    /*background: linear-gradient(#1a242f,#7d939b);*/

    /*!*default*!*/
    /*background: linear-gradient(#1a242f,#2c3e50);*/
}

.panel-heading .row {
    line-height: 35px;
}

.panel-heading {
    font-weight: bold;
}

.btn-link{
    margin-left: 10px;
    font-size: 16px;
}

.text-city {
    font-size: 24px;
}

.text-updatetime {
    font-size: 14px;
    color: hsla(0,0%,100%,.5);
}

.now-line {
    margin: 20px 20px;
    border-top: 1px solid;
    border-color: hsla(0,0%,100%,.5);
}

.weather-now {
    text-align: center;
    margin: 20px 0px;
}

.content-now {
    display: inline-block;
}

.now-temp-text {
    margin-left: 30px;
}

.now-temp {
    font-size: 60px;
    margin: 0px 20px;
}

.now-text {
    font-size: 20px;
    margin: 0px 10px;
}

.weather-daily {
    text-align: center;
    margin: 30px 0px;
}

.content-daily {
    margin: 10px 0px;
    font-size: 18px;
}

.daily-icon {
    margin: 20px 0px;
}
.daily-date {
    color: hsla(0,0%,100%,.5);
}




