

.custom-panel {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .08);
}

.panel-heading .row {
    line-height: 35px;
}

.panel-heading {
    font-weight: bold;
}

.panel-body .now-line {
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    height: 1px;
    border-top: 1px solid #0f0f0f;
}

.content-daily {
    display:block;
    float: left;
}



