

.custom-panel {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .08);
    color: #ffffff;
    background-color: #0f0f0f;
}

.panel-heading .row {
    line-height: 35px;
}

.panel-heading {
    font-weight: bold;
}

.text-city {
    font-size: 28px;
}

.text-city {
    font-size: 12px;
    color: hsla(0,0%,100%,.6);
}

.now-line {
    margin: 20px 0px;
    border-top: 1px solid;
    border-color: hsla(0,0%,100%,.3);
}

.weather-now {
    text-align: center;
    margin: 20px 0px;
}

.content-now {
    display: inline-block;
}

.now-temp-text {
    margin-left: 30px;
}

.now-temp {
    font-size: 60px;
    margin: 0px 20px;
}

.now-text {
    font-size: 20px;
    margin: 0px 10px;
}

.weather-daily {
    text-align: center;
    margin: 30px 0px;
}

.content-daily {
    margin: 10px 0px;
    font-size: 18px;
}

.daily-icon {
    margin: 20px 0px;
}
.daily-date {
    color: hsla(0,0%,100%,.6);
}




