

.custom-panel {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .08);
}

.panel-heading .row {
    line-height: 35px;
}

.panel-heading {
    font-weight: bold;
}

.panel-heading .col-btn a {
    float: right;
}

.panel-heading .btn-link{
    float: right;
}

.table {
    margin-bottom: 10px;
}

.table th {
    text-align: center;
}

.table > tbody > tr > td {
    text-align: center;
    vertical-align: middle;
}

.table thead tr {
    background-color: #f9f9f9;
}

.table .btn {
    margin: 0px 5px;
}

.table .btn-link {
    padding: 5px 0px;
}

.pagination {
    float: right;
    margin: 10px 0px;
}

.pagination > li > a {
    color: #2c3e50;
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
}

.pagination > li > a:hover {
    color: #ffffff;
    background-color: #18bc9c;
    border-color: transparent;
}

.pagination > .disabled > span {
    color: #2c3e50;
    background-color: #ffffff;
    border: 1px solid #ecf0f1;
}

.btn-custom {
    padding: 10px 40px;
}




