

.custom-panel {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, .08);
}

.panel-heading .row {
    line-height: 35px;
}

.panel-heading .col-title {
    font-weight: bold;
}

.panel-heading .col-btn a {
    float: right;
}

.table {
    border-left: none;
    border-right: none;
}

.table th {
    text-align: center;
}

.table td {
    text-align: center;
}

.table thead tr {
    background-color: #f9f9f9;
}

