
.navbar-brand {
    padding: 13.5px 15px
}

.navbar-brand > img {
    display: inline;
    margin: 0 10px;
    height: 100%
}

.navbar-subtitle {
    padding: 13.5px 15px;
    border-left: 2px solid #2c3038;
}

