.navbar-custom {
    /*background-color: #2c3e50;*/
    /*background-color: #18bc9c;*/
    background-color: #1296db;
    /*border-color: transparent;*/
}


.navbar-brand {
    margin-top: 2px;
    padding: 12px 15px;
    display:block;
    text-align:center;
    font-size: 20px;
}

.navbar-brand > img {
    display: inline;
    margin: 0 10px;
    height: 100%;
}

.navbar-line {
    margin: 20px 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    width: 1px;
    border-left: 1px solid #e6e6e6;
}

.navbar-subtitle {
    margin: 0px 10px;
    padding-top: 19px;
    padding-bottom: 19px;
    float: left;
    color: #ffffff;
    font-size: 16px;
    font-weight: 200;
}

.back-to-home {
    margin: 0px 10px;
    color: #ffffff;
    float: left;
    display: block;
}

.sayhello {
    margin: 0px 10px;
    padding-top: 19.5px;
    padding-bottom: 19.5px;
    color: #ffffff;
    float: left;
    display: block;
}



