
.panel-body {
    padding: 0px;
}

.main-menu {
    width: 100%;
    padding-left: 0px;
}

.main-menu > li {
    display:block;
    border: 1px solid #ecf0f1;
    width: 25%;
    text-align: center;
    float: left;
    margin-left: -1px;
}

.menu-item {
    height: 100%;
    width: 100%;
    color: #2c3e50;
    margin: 0px;
    padding: 0px;
    position: absolute;
}

.menu-item:hover, .menu-item:focus {
    text-decoration: none;
    color: #18bc9c;
    cursor: pointer;
    background-color: transparent;
}

.menu-item >h4 {
    margin-top: 25px;
    margin-bottom: 25px;
}

.menu-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    margin-top: 20px;
}

