
.main-menu {
    width: 1200px;
    height: 600px;
    color: #2c3e50;
    margin-left: -10px;
}

.main-menu > li {
    display:block;
    border: 1px solid #ecf0f1;
    width: 300px;
    height: 200px;
    text-align: center;
    float: left;
    line-height: 100%;
}

.menu-item {
    height: 100%;
    width: 100%;
}

.menu-item:hover,.menu-item:focus {
    text-decoration: none;
    color: #18bc9c;
    background-color: transparent;
}

.menu-icon {
    display: inline-block;
    width: 78px;
    height: 78px;
    margin-top: 10px;
}

