body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url(../..//img/back-water.jpeg) center center no-repeat;;
    background-size: cover;
}

.navbar-default {
    /*background-color: #1296db;*/
    /*opacity: 0.2;*/
    background: transparent;
}

.custom-panel {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, .28);
}