body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background: url(../..//img/back-water.jpeg) center center no-repeat;;
    background-size: cover;
}

.navbar-default {
    background: transparent;
}

.custom-panel {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .58);
}

.panel-heading .row {
    line-height: 35px;
}

.panel-heading {
    font-weight: bold;
}

.panel-heading .col-btn a {
    float: right;
}

.panel-heading .btn-link{
    float: right;
}

.btn-custom {
    padding: 10px 40px;
}